.gradient-custom-2 {
	background: #6a11cb;
	background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 0.9),
		rgba(37, 117, 252, 0.9));
	background: linear-gradient(to right, rgba(106, 17, 203, 0.9),
		rgba(37, 117, 252, 0.9));
}

@media ( min-width : 768px) {
	.gradient-form {
		height: 100vh !important;
	}
}

@media ( min-width : 769px) {
	.gradient-custom-2 {
		border-top-right-radius: .3rem;
		border-bottom-left-radius: .3rem;
	}
}